= semantic_form_for [:admin, @gallery], builder: ActiveAdmin::FormBuilder do |f|
    = f.inputs do
        = f.input :name
        = f.input :image_type
        = f.input :tag
        = f.input :usage
        = f.input :caption
        = f.input :sub_caption
        = f.input :photos, as: :file, multiple: true
        = f.actions