<footer class="page-footer grey darken-2">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">Flash and Flick</h5>
        <p class="grey-text text-lighten-5">Photography and Graphic Designs</p>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Creativity at its best</h5>
        
        <ul>
            <li><a class="grey-text text-lighten-5" href="<%= gallery_path %>">Gallery</a></li>
            <li><a class="grey-text text-lighten-5" href="<%= photography_path%>">Photography</a></li>
            <li><a class="grey-text text-lighten-5" href="<%= design_path%>">Graphic Design</a></li>
            <li><a class="grey-text text-lighten-5" href="<%= about_path%>">Contact Me</a></li>
        </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright grey darken-3">
    <div class="container">
        © 2020 Copyright
        <a class="grey-text text-lighten-5 right" href="<%= root_path%>">Flash & Flick</a>
    </div>
    </div>
</footer>